
@import url(http://fonts.googleapis.com/css?family=Oswald)
colorOrange = #FF3D00

@-webkit-keyframes Animacion {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes AnimacionZoonImg {
  from {
    transform scaleX(.5) rotate(0deg)
  
  }
  to {
    transform scaleX(1) rotate(360deg)
   
  }
}

body
	font-family 'Oswald', sans-serif
	background-color #FAFAFA
 

header
	// background-color #2196F3
	height 100%
	width 100%
	text-align center
	section
		button
			background-color #A5D6A7
			padding .6em 1.7em
			font-size .8em
			border-radius 1.5em
			border 1px solid #A5D6A7
			&:hover
				background-color #FFE57F
				border 1px solid #FFE57F
				transition 1s
			a
				text-decoration none
				color #000000	
.avatar
	img
		height 100px
		width 100px
		border-radius 50%
		margin-top 40%
		border 1px solid #FF3D00
		-webkit-animation AnimacionZoonImg 2s	
	span 	
		p
			margin 5px	
			display inline-block
			color colorOrange
			font-size .8em
			transition 5s
			-webkit-animation: Animacion 5s
		h2
			font-size 1.2em
			margin-top .5em
			margin-bottom .2em

.h-home
	background-color #212121
	.avatar
		img
			margin-top 5%
			border none
		span
			h2
				color #FAFAFA	
	
.a-row
	text-decoration none
	color colorOrange
	text-align left
	.row
		background-color #F5F5F5
		padding-top .5em
		padding-bottom .5em
		paddingg-right 2em
		padding-left .5em  
		border-bottom 1px solid #424242
		&:hover
			background-color #212121
			color #FFFFFF
			box-shadow 0 0 1em #FF6E40
			transition .5s		
		
.perfil
	img
		height 25px
		width 25px
		float right
		margin-right 1em
	
.formacion, .Habilidades, 
.idiomas, .proyectos, .experiencia, 
.referencias
	float right
	margin-right 1em
	

.stickers
	width 100%
	height 50%
	background-color red
	
			
				
@media screen and (min-width 450px)
	
	html, body
		height 100%	

	.avatar
		padding-top 2em

	.a-row
		color blue
		.row
			padding-left 1em			
	
	.left
		float left
		width 30%
		height 50%
		
	.right
		float right
		width 70%
		height 50%	
		background-color #f5f5f5
		
	.stickers
		width 100%
		height 50%
		background-color red	
				

@media screen and (min-width 750px)

	.a-row
		color green

				

@media screen and (min-width 1000px)
	body
		height 100%	
	 
	.a-row
		color colorOrange
		

		
		

		 



  			