
@import url(http://fonts.googleapis.com/css?family=Oswald)
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css)
// @import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css)
// @import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js)

colorOrange = #FF3D00
colorRed = #EF5350
colorBlue = #375a7f
colorWhite = #FFFFFF
colorBlack = #424242
colorVerde = #0ce3ac

@-webkit-keyframes Animacion {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes AnimacionZoonImg {
  from {
    transform scaleX(.5) rotate(0deg)
  
  }
  to {
    transform scaleX(1) rotate(360deg)
   
  }
}

body
	font-family 'Oswald', sans-serif
	background-color red
	

.cabecera
	margin-top 70px
	text-align center

.social
	margin-top 16px


.proyect
    text-align center
    background-color #FAFAFA
    margin-top 16px
	figure
		padding-right 20px
		padding-left 20px
		color colorVerde

.proyect-title
	color colorVerde
	margin-top 16px
	text-align center

.line
	border-bottom 2px solid #00BFA5
	height 2px
	width 180px
	margin-top -8px
	margin-bottom 12px
	margin-right auto 
	margin-left auto

footer
	background-color colorBlue
	height 50px


header
	// background-color #2196F3
	height 100%
    width 100%
	text-align center
	section
		margin 0 auto
		button
			background-color #A5D6A7
			// padding .6em 1.7em
			font-size .8em
			border-radius 1.5em
			border 1px solid #A5D6A7
			&:hover
				background-color #FFE57F
				border 1px solid #FFE57F
				transition 1s
			a
				text-decoration none
				color #000000	
.avatar
	img
		height 120px
		width 120px
		border-radius 50%
		// margin-top 70px
		border 1px solid colorBlue
		-webkit-animation AnimacionZoonImg 2s	
	span 	
		p
			margin 5px	
			display inline-block
			color colorOrange
			font-size .8em
			transition 5s
			-webkit-animation: Animacion 5s
		h2
			font-size 1.2em
			margin-top .5em
			margin-bottom .2em

.h-home
	background-color #212121
	.avatar
		img
			margin-top 5%
			border none
		span
			h2
				color #FAFAFA	
	
.a-row
	text-decoration none
	color colorOrange
	text-align left
	.row
		background-color #F5F5F5
		padding-top .5em
		padding-bottom .5em
		paddingg-right 2em
		padding-left .5em  
		border-bottom 1px solid #424242
		&:hover
			background-color #212121
			color #FFFFFF
			box-shadow 0 0 1em #FF6E40
			transition .5s		
		
.perfil
	img
		height 25px
		width 25px
		float right
		margin-right 1em
	
.formacion, .Habilidades, 
.idiomas, .proyectos, .experiencia, 
.referencias
	float right
	margin-right 1em
	

.stickers
	width 100%
	height 50%
	text-align center
	padding-top 2em
	
	figure
		display inline-block		
					
.nav-header
	background-color colorBlue
		    
		
@media screen and (min-width 450px)
	
	html, body
		height 100%
		 
	.avatar
		padding-top 2em

	.a-row
		color blue
		.row
			padding-left 1em			
	
	.left
		float left
		width 30%
		height 100%
		
	.right
		float right
		width 70%
		height 50%	
		background-color #f5f5f5

	.stickers
		width 70%
		display block
		background-color #f5f5f5	

@media screen and (min-width 750px)

	.a-row
		color green
				
@media screen and (min-width 1000px)
	body
		height 100%	
	 
	.a-row
		color colorOrange
		

		
		

		 



  			